body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

*, body {
  /* box-sizing: border-box;     forgot to use it :-(    */
  font-family: 'Poppins', sans-serif !important;
}